{{ partial "header.html" . }}
    {{ partial "subheader.html" . }}
    {{ $wow := "PG4gdWVycz0iem52eWdiOnF2bW1sJmpiai5wYnoiPnF2bW1sJmpiai5wYno8L24+"}}
    {{ $gmail := "PG4gdWVycz0iem52eWdiOm5oZmd2YS5mdnNiZXEmdHpudnkucGJ6Ij5uaGZndmEuZnZzYmVxJnR6bnZ5LnBiejwvbj4="}}
    <div class="container">
      <div class="pure-g">
        <div class="pure-u-5-24">
          <img class="pure-img" src="{{ .Site.Params.avatar }}">
          <br>
          <div><i class="fa-xs fas fa-envelope"></i> {{ partial "enc.html" $wow }}</div>
          <div><i class="fa-xs fas fa-key"></i> <a href="https://keybase.io/abs/key.asc" rel="noopener noreferrer">/.pgp/key.asc</a></div>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-18-24">
          <span style="font-size:1.5em; font-weight:bold;font-family:'PT Sans'">Who am I?</span>
          <p>
            My name (read as: <i>pseu&bull;do&bull;nym</i>) is Austin Dizzy. I've studied computer science and political science at <a href="https://www.wvu.edu" rel="noopener noreferrer">West Virginia University</a>, where I've also worked in our <a href="https://it.wvu.edu/security" rel="noopener noreferrer">Information Security and Privacy Office</a> since 2013.
          </p>
          <p>
            I’ve been doing this computer thing for more than a decade now, focusing my efforts in security research, software development, private intelligence, and security awareness.
          </p>
          <p>
            In my free time, you'll find me stargazing, hiking, and appreciating nature; playing chess, casual video games, or competitive esports; or reading, contributing to the community, and spending time with my friends and family.
          </p>
          <p class="m-0">
            Read more about me in my <a href="https://stackoverflow.com/cv/abs" rel="noopener noreferrer"><span style="color:initial"><i class="fab fa-stack-overflow" style="color:#fd7e14"></i> stackoverflow</span> curriculum vitae</a> or on <a href="https://linkedin.com/in/austindizzy" rel="noopener noreferrer" style="display:inline-block"><i class="fab fa-linkedin"></i> LinkedIn / AustinDizzy</a>.
          </p>
        </div>
      </div>
      <br>
      <div class="pure-g">
        <div class="pure-u-1-1">
            <span style="font-size:1.5em; font-weight: bold; font-family: 'PT Sans'">Contact</span>
            <p>
              I primarily respond to emails at both {{ partial "enc.html" $wow}} and {{ partial "enc.html" $gmail }}<br><br>I occasionally post and respond to tweets on Twitter <a href="https://twitter.com/AustinDizzy" rel="noopener noreferrer"><i class="fab fa-twitter"></i> @AustinDizzy</a><br><br>Other approved methods to reach me may be found listed on my <a href="https://keybase.io/abs" rel="noopener noreferrer">Keybase @abs</a>
            </p>
        </div>
      </div>
    </div>
    {{ partial "subfooter.html" . }}
{{ partial "footer.html" . }}
